<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/stylesheet/style.css" />
    <title>Cybertroop</title>
  </head>
  <body>
    <section id="login-header">
      <div class="row login-row">
        <div class="col-md-6 header-text login-col1">
          <div class="login-header">
            <img
              class="login-logo"
              src="static/images/icons8-shield-64 1.png"
              alt=""
            />
            <h3>Cybertroop</h3>
          </div>

          <div>
            <img
              class="login-image mx-auto"
              src="static/images/Mobile login-pana 1.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-6 login-col2">
          <div class="login-col2-inner mx-auto">
            <br />
            <form>
            <!-- <form method="POST" action="\signup"> -->
              <!-- {% csrf_token %} -->
              <div>
                <label for="exampleInputName1" class="form-label poppins-text">Name </label><br />
                <input
                  type="text"
                  class="form-control poppins-text"
                  id="exampleInputEmail1"
                  aria-describedby="NameHelp"
                  placeholder="Enter your Name"
                />
              </div>
              <div>
                <label for="exampleInputEmail1" class="form-label poppins-text"
                  >Email </label
                ><br />
                <input
                  type="email"
                  class="form-control poppins-text"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter your Email ID"
                />
              </div>
              <div>
                <label
                  for="exampleInputPassword1"
                  class="form-label poppins-text"
                  >Password</label
                ><br />
                <input
                  type="password"
                  class="form-control poppins-text"
                  id="exampleInputPassword1"
                  placeholder="Enter your Password"
                />
              </div>
              <div>
                <label
                  for="exampleInputPassword1"
                  class="form-label poppins-text"
                  >Confirm Password</label
                ><br />
                <input
                  type="password"
                  class="form-control poppins-text"
                  id="exampleInputPassword1"
                  placeholder="Enter your Password"
                />
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary continue-btn" type="submit">
                  Continue
                </button>
              </div>
              <div class="no-account">
                <p>Already have an account?</p>
                <a href="login.html">login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script
      src="static/https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
